This notebook will be dedicated to training and testing several ML models

In [1]:
from src import data_utils, preprocessing

In [2]:
# first we get our cleaned data set
df_og = data_utils.clean_trip_data('yellow_tripdata_2022-05.parquet')

In [3]:
df_og.head(3).T

                                0         1          2
PULocationID                  246       238        163
DOLocationID                  151        74        260
fare_amount                  17.0      11.0       15.5
improvement_surcharge         0.3       0.3        0.3
congestion_surcharge          2.5       2.5        2.5
airport_fee                   0.0       0.0        0.0
travel_time                1122.0     829.0      922.0
time_of_day                 night     night      night
day                             1         1          1
month                           5         5          5
is_weekend                      1         1          1
distance_between_zones  11.842695  6.505505  13.091559

In [4]:
# now we get our X, and ys
X, y_travel_time, y_fare_amount = data_utils.get_feature_target(df_og)

In [5]:
# and we then get our training and testing sets
# we are going to get two sets of y labels, one for travel_time and another for fare_amount
X_train, X_test, y_train_travel_time, y_test_travel_time, y_train_fare_amount, y_test_fare_amount = data_utils.get_train_test_sets(X, y_travel_time, y_fare_amount)

In [6]:
# we can further split the training set into training and validation
X_train, X_val, y_train_travel_time, y_val_travel_time, y_train_fare_amount, y_val_fare_amount = data_utils.get_train_test_sets(X_train, y_train_travel_time, y_train_fare_amount)

In [7]:
# now using the training, validation, and testing sets we can preprocess our data
X_train, X_val, X_test = preprocessing.preprocess_data(X_train, X_val, X_test)

Input train data shape:  (2160964, 10)
Input val data shape:  (540242, 10)
Input test data shape:  (675302, 10)